@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
  font-family: 'Roboto', serif
}

nav {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  background-color: #cafdff;
}

header {
  background-color: #cadcff;
  height:calc(100vh -70px);
  padding: 25px;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 75px;
}

.subheader {
  font-size: 35px;
  margin: 15px 0 25px 0;
}

button {
  background-color: #05c7cf;
  border: none;
  padding: 10px 15px;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

a {
  color: black;
  font-size: 25px;
  font-weight: 700;
}

.logo {
  width: 350px;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
  padding-left: 15px; 
}

.row {
  width: 100%;
  max-width: 1300px;
  display: flex;
  align-items: center;
  justify-content: center;
}